<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/inc/layout}">

<head>
    <title>Board</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/newtil-css@0.1.44/dist/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/admin/post/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/js/admin/post/list.js"></script>

</head>
<body>
<main layout:fragment="main" class="n-panel n-main-panel d:flex flex-direction:column">

    <form
            class="n-form md:n-field-label-position:left border:0 w:3/5 mx:auto my:10">
        <div>
            <select class="border" name="searchMethod">
                <option th:selected="${param.searchMethod} == 'name'" value="name">이름</option>
                <option th:selected="${{param.searchMethod}} == 'login-id'" value="login-id">유저아이디</option>
            </select>
            <input type="text" name="searchKeyword" placeholder="검색어를 입력하세요" th:value="${#strings.trim(param.searchKeyword)}"/>
            <button class="n-btn n-btn-type:outline-box">검색</button>
        </div>
    </form>

    <div class="w:100p border-bottom"></div>

    <form action="members/delete" class="flex flex-col w-full" method="post">
        <table class="n-table n-table-style:striped">
            <thead>내용
                <tr>
                    <th scope="col" class="w:2"></th>
                    <th scope="col">ID</th>
                    <th scope="col">분류</th>
                    <th scope="col">제목</th>
                    <th scope="col">답변상태</th>
                    <th scope="col">내용보기</th>
                    <th scope="col">답변하기</th>
                    <th scope="col">작성자</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="board :${list}">
                    <td scope="col">
                        <input
                                name=""
                                type="checkbox"
                                class="n-toggle n-toggle-type:check-box n-toggle-size:2"
                        />
                    </td>
                    <td scope="row" th:text="${board.id}">1</td>
                    <td>Q&A</td>
                    <td th:text="${board.title}">제목</td>
                    <td th:text="((${{board.status}} == '1')) ? '답변완료':'-'">답변완료</td>
                    <td><button id="modal-btn" type="button" class="preview n-btn" th:data-id="${board.id}">미리보기</button></button></td>
                    <td><button class="n-btn">답변하기</button></td>
                    <td th:text="${board.writer}">작성자</td>
                </tr>
            </tbody>
        </table>
        <div class="d:flex jc:end mt:3">
            <div class="mr:3">
                <a href="members/reg" class="n-btn n-btn-size:3"> 등록 </a>
            </div>
            <button class="n-btn n-btn-size:3 n-btn-color:accent mr:3">
                삭제
            </button>
        </div>
    </form>

    <ul class="n-pager mx:auto">
        <li class="active"><a>1</a></li>
        <li><a>2</a></li>
        <li><a>3</a></li>
    </ul>
<section class="n-modal d:none" tabindex="-1">
    <h1 class="n-font:h3 font-weight:3">게시글 미리보기</h1>

    <div class="mt:8 text-a:center modal-content">Hello World</div>

    <div class="d:flex fl-direction:column gap:2 mt:8 w:10">
        <button type="button" class="n-btn n-btn-size:3 close-button">닫기</button>
    </div>
</section>


</main>
</body>
</html>
