<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newlecmineursprj.repository.CouponRepository">
    <select id="findAll" resultType="Coupon">
        SELECT
        *
        FROM coupon
    </select>
    <select id="findById" parameterType="Coupon">
        select * from coupon where id=#{id}
    </select>
    <select id="findAllByMemberId" parameterType="Coupon">
        SELECT *
        FROM coupon
        INNER JOIN member_coupon ON coupon.id = member_coupon.coupon_id
        where member_id = #{id}
    </select>
</mapper>