<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newlecmineursprj.repository.ProductRepository">
    <resultMap id="ProductView" type="ProductView">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="regDate" column="reg_date"/>
        <result property="sellingPrice" column="selling_price"/>
        <result property="supplyingPrice" column="supplying_price"/>
        <result property="img" column="img"/>
        <result property="description" column="description"/>
        <result property="categoryName" column="category_name"/>

        <collection property="productSubImgs" ofType="ProductSubImg">
            <id property="id" column="di_id"/>
            <result property="path" column="path"/>
        </collection>
    </resultMap>

    <select id="findAll" resultMap="ProductView">
        SELECT 
        id, name, reg_date, selling_price, supplying_price, img, description, 
        category_id, category_name, di_id, path, di_product_id
        FROM product_view
        <where>
            <if test="searchMethod == 'title'">
                name like '%${searchKeyword}%'
            </if>
            <if test="searchMethod == 'description'">
                description like '%${searchKeyword}%'
            </if>
            <if test="categoryId != 0">
                and category_id = #{categoryId}
            </if>
        </where>
        GROUP BY id
        ORDER BY id DESC
        limit #{offset},#{size}
    </select>

    <select id="findById" resultMap="ProductView">
        SELECT
        *
        FROM product_view
        where id = #{id}
    </select>

    <select id="count" resultType="int">
		select 
	        count(id) count
        from product
		<where>
            <if test="searchMethod == 'title'">
                name like '%${searchKeyword}%'
            </if>
            <if test="searchMethod == 'description'">
                description like '%${searchKeyword}%'
            </if>
            <if test="categoryId != 0">
                and category_id = #{categoryId}
            </if>
        </where>
	</select>

    <insert id="reg" parameterType="Product" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO product(name,selling_price, supplying_price, description,img,category_id)
        VALUES (#{name}, #{sellingPrice}, #{supplyingPrice}, #{description}, #{imgPath},#{categoryId})
    </insert>

    <update id="updateProductById" parameterType="Product">
        UPDATE product
        SET name = #{name},selling_price = #{sellingPrice}, supplying_price = #{supplyingPrice}, description = #{description}, img = #{imgPath}  where id = #{id}
    </update>


    <delete id="deleteAll" parameterType="list">
        DELETE FROM product
        WHERE id IN
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
</mapper>