<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header class="navbar  mb-10 fixed top-0 z-50
transition-[background-color, opacity] duration-300 ease-in-out hover:bg-white hover:opacity-90 hover:shadow-sm">
      <h1 class="hidden">헤더</h1>
      <div class="flex-1">
        <a href="/">
          <img
            src="https://mineurs.co.kr/web/upload/hazel/logo_img.png"
            alt=""
            class="w-52 px-2"
          />
        </a>
      </div>
      <div class="   md:flex px-10">
        <div class="dropdown dropdown-hover">
          <div tabindex="0" role="button" class="summary text-base m-4">
            About
          </div>
        </div>
        <div class="dropdown dropdown-hover">
          <div tabindex="0" role="button" class="summary text-base m-4">
            Shop
          </div>
          <ul
            tabindex="0"
            class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52"
          >
            <li><a href="">샘플 세일</a></li>
            <li><a href="">당일 발송</a></li>
            <li><a href="">NEW ARRIVALS</a></li>
            <li><a th:href="@{/(categoryId='')}">ALL</a></li>
            <li th:each="category:${categoryList}"><a th:href="@{/(categoryId=${category.id})}" href="" th:text="${category.name}">OutWear</a></li>
<!--            <li><a href="">Top</a></li>-->
<!--            <li><a href="">Bottom</a></li>-->
<!--            <li><a href="">Dress</a></li>-->
<!--            <li><a href="">ETC</a></li>-->
          </ul>
        </div>
        <div class="dropdown dropdown-hover">
          <div tabindex="0" role="button" class="summary text-base m-4">
            Board
          </div>
          <ul
            tabindex="0"
            class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52"
          >
            <li><a href="">NOTICE</a></li>
            <li><a href="/qna">Q&A</a></li>
            <li><a href="">REVIEW</a></li>
            <li><a href="">DELAY</a></li>
            <li><a href="">OH On : 오온</a></li>
          </ul>
        </div>
        <div class="dropdown dropdown-hover">
          <div tabindex="0" role="button" class="summary text-base">
            Account
          </div>
          <ul
            tabindex="0"
            class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52"
          >
            <li sec:authorize="isAnonymous()">
              <a href="/signin">Login</a>
            </li>

            <li sec:authorize="isAuthenticated()">
              <a  href="/signout">Logout</a>
            </li>

            <li sec:authorize="isAnonymous()"><a href="">Register</a></li>
            <li sec:authorize="isAuthenticated()"><a href="/myshop/order/list">Order</a></li>
            <li sec:authorize="isAuthenticated()"><a href="/myshop">My Page</a></li>
          </ul>
        </div>
      </div>

      <div class="mr-10 text-xs text-gray-400 space-x-4" sec:authorize="isAuthenticated()">
        <span>Welcome!,</span> <span sec:authentication="name">망한거임</span>
      </div>

      <div>
        <a sec:authorize="!isAuthenticated()" 
          th:href="@{/signin}">
          <img src="/css/img/cart.svg" alt="" />
        </a>
        <a sec:authorize="isAuthenticated()" 
          th:href="@{/cart(mid=${#authentication.getPrincipal().id})}">
          <img src="/css/img/cart.svg" alt="" />
        </a>
      </div>
      <div class="m-4">
        <img src="/css/img/search.svg" alt="" />
      </div>
    </header>
  </body>
</html>
