<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header class="navbar bg-white">
      <h1 class="hidden">헤더</h1>
      <div class="flex-1">
        <a href="/">
          <img
            src="https://mineurs.co.kr/web/upload/hazel/logo_img.png"
            alt=""
            class="w-52"
          />
        </a>
      </div>
      <div class="flex-none">
        <ul class="menu menu-horizontal px-1">
          <li class="m-4"><a href="">About</a></li>
          <li class="m-4"><a href="">Shop</a></li>
          <li class="m-4"><a href="">Board</a></li>
          <li class="m-4"><a href="">Account</a></li>
        </ul>
      </div>
      <div>
        <img src="/css/img/cart.svg" alt="" />
      </div>
      <div class="m-4">
        <img src="/css/img/search.svg" alt="" />
      </div>
    </header>
  </body>
</html>
