<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{/inc/layout}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/output.css" />
  </head>
  <body>
    <main layout:fragment="main" class="container mx-auto">
      <section>
        <h1 class="hidden">마이페이지</h1>
        <div class="text-center">My Page</div>
        <div class="text-base">
          <ul class="list-none flex justify-center">
            <li class="text-">가용적립금 3000원</li>
            <li>
              <a class="btn btn-sm" href="">조회</a>
            </li>
            <li>총적립금 3000원</li>
            <li>사용적립금 0원</li>
            <li>총주문 0원(0회)</li>
            <li>쿠폰 0개</li>
            <li>
              <a class="btn btn-sm" href="">조회</a>
            </li>
          </ul>
        </div>
        <div class="divider bg-red-500"></div>

        <div>
          <div class="text-gray-500">
            <span class="font-bold text-black">나의 주문처리 현황</span>
            (최근 3개월 기준)
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
