<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{/inc/layout}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/js/myshop/Wishlist.js"></script>
    <title>Document</title>
  </head>
  <body>
    <main layout:fragment="main" class="container mx-auto px-20 mt-20">
      <section class="w-full">
        <h1 class="hidden">위시리스트</h1>
        <div class="text-center font-sans">Wishlist</div>
        <div class="w-full">
          <div>
            <table class="border border-slate-800 w-full">
              <colgroup>
                <col class="w-7" />
                <col class="w-24" />
                <col class="w-auto" />
                <col class="w-28" />
                <col class="w-28" />
              </colgroup>
              <thead class="font-sans">
                <th class="border border-slate-800">
                  <input
                    id="selectAllCheckbox"
                    type="checkbox"
                    onclick="toggleCheckboxes(this)"
                  />
                </th>
                <th class="border border-slate-800 font-thin">Item</th>
                <th class="border border-slate-800 font-thin">Name</th>
                <th class="border border-slate-800 font-thin">Price</th>
                <th class="border border-slate-800 font-thin">Select</th>
              </thead>
              <tbody class="text-center">
                <tr th:each="product: ${productPage.content}">
                  <td><input type="checkbox" /></td>
                  <td>
                    <a
                      href=""
                      th:href="@{/products/{productId}(productId=${product.id})}"
                      ><img
                        class="py-3"
                        src=""
                        th:src="@{|/webapp/image/products/${product.mainImgPath}|}"
                        alt=""
                    /></a>
                  </td>
                  <td th:text="${product.name}">이름</td>
                  <td
                    class="font-medium text-sm"
                    th:text="${#numbers.formatInteger(product.price, 0, 'COMMA')} +원"
                  >
                    가격
                  </td>
                  <td class="flex flex-col py-4">
                    <div>
                      <a
                        href=""
                        class="inline-block border border-slate-800 w-20 h-7 text-xs px-3 py-1 bg-black text-slate-100 hover:bg-white hover:text-slate-800 duration-300 ease-in-out"
                        >주문하기</a
                      >
                    </div>
                    <div class="py-1">
                      <button
                        class="inline-block border border-slate-800 w-20 h-7 text-xs px-1 py-1"
                      >
                        장바구니담기
                      </button>
                    </div>

                    <form action="wishlist/delete" method="post">
                      <button
                        class="inline-block border border-slate-800 w-20 h-7 text-xs px-3 py-1"
                        type="submit"
                        th:value="${product.id}"
                        name="productId"
                      >
                        삭제
                      </button>
                    </form>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="flex mt-3 justify-between">
          <div class="flex">
            <span class="font-medium">선택상품을</span>
            <div class="text-center pl-2">
              <a
                href=""
                class="inline-block border border-slate-800 w-20 h-7 text-xs px-3 py-1 bg-gray-500 text-slate-100 hover:bg-white hover:text-slate-800 duration-300 ease-in-out"
                >주문하기</a
              >
            </div>
            <div class="text-center pl-2">
              <a
                href=""
                class="inline-block border border-slate-800 w-20 h-7 text-xs px-1 py-1"
                >장바구니담기</a
              >
            </div>
          </div>
          <div class="flex">
            <div class="text-center pl-2">
              <a
                href=""
                class="flex justify-center items-center border border-slate-800 w-32 h-10 text-xs px-3 py-1 bg-black text-slate-100 hover:bg-white hover:text-slate-800 duration-300 ease-in-out"
                >전체상품주문</a
              >
            </div>
            <div class="text-center pl-2">
              <a
                href=""
                class="flex justify-center items-center border border-slate-800 w-32 h-10 text-xs px-3 py-1 bg-gray-500 text-slate-100 hover:bg-white hover:text-slate-800 duration-300 ease-in-out"
                >관심상품 비우기</a
              >
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
