<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/inc/layout}">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main layout:fragment="main" class="flex flex-col w-full n-panel n-main-panel">
    <section class="d:flex w:100">
        <div>
            <div scope="col">
                <a href="" th:href="@{/admin/products/{id}(id=${product.id})}">
                    <img id="imgId" th:src="${product.img}" alt="첨부이미지" class="w:100p"/>
                </a>
            </div>

        </div>
        <form class="d:flex  flex-direction:column m:10 w:100p">
            <label>상품이름</label>
            <input  class="mt:1 bd border-width:1 bd-radius:3 w:100p p:3 pl:6" th:value="${product.name}">
            <label>판매가</label>
            <input class="mt:1 bd border-width:1 bd-radius:3 w:100p p:3 pl:6" th:value="${product.sellingPrice}">
            <label>공급가</label>
            <input class="mt:1 bd border-width:1 bd-radius:3 w:100p p:3 pl:6" th:value="${product.supplyingPrice}">
            <label>설명</label>
            <input class="mt:1 bd border-width:1 bd-radius:3 w:100p p:3 pl:6" th:value="${product.description}">
            <label>등록일자</label>
            <input class="mt:1 bd border-width:1 bd-radius:3 w:100p p:3 pl:6" th:value="${product.regDate}">
            <input class="d:flex flex-direction:row">
                <img th:each="detailImg: ${product.detailImgs}" th:src="${detailImg.path}" alt="첨부이미지" class="w:100p"/>
            </input>
        </form>
    </section>
</main>
</body>
</html>
