<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/inc/layout}">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/admin/products/edit.js"></script>
    <style>
        .img-box img {
            height: 300px;
        }
    </style>
</head>
<body>
<main layout:fragment="main" class="n-panel n-main-panel">
    <form id="form" class="n-form n-form-type:outline-box px:10 w:100p">
        <input type="hidden" name="id" class="id" th:value="${product.id}">
        <div>
            <label>
                <span>상품 이름</span>
                <input type="text" name="name" th:value="${product.name}" class="name"/>
            </label>
        </div>
        <div>
            <label>
                <span>판매가</span>
                <input type="text" name="sellingPrice" th:value="${product.sellingPrice}" class="sellingPrice" />
            </label>
        </div>
        <div>
            <label>
                <span>공급가</span>
                <input type="text" name="supplyingPrice" th:value="${product.supplyingPrice}" class="supplyingPrice"/>
            </label>
        </div>
        <div>
            <label>
                <span>상품 설명</span>
                <textarea name="description" class="height:7 description" th:text="${product.description}"></textarea>
            </label>
        </div>
        <div>
            <label>
                <span>대표 사진</span><span>(수정하려면 Click!)</span>
                <input class="img-input d:none border img" type="file" name="img"/>
                <span class="img-box d:flex flex-direction:row">
                        <img alt="kk" src="" th:src="${product.img}">
                </span>
            </label>
        </div>


        <div>
            <label>
                <span>디테일 사진</span>
                <input type="file" name="paths" multiple/>
            </label>
        </div>
        <label for="lang">카테고리</label>
        <select id="lang" name="categoryId" class="n-dropdown">
            <option th:each="category : ${categories}"
                    th:value="${category.id}"
                    value="javascript"
                    class="n-dropdown-item"
                    th:text="${category.name}">JavaScript
            </option>
        </select>
        <button type="button" class="n-btn mt:4" onclick="edit()">수정</button>
        <a type="button" class="n-btn n-btn-color:sub mt:1" th:href="@{/admin/products}">목록</a>
    </form>
</main>
</body>
</html>
