<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/admin/inc/layout}"
 lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="/css/admin/products/reg.css"/>
    <script src="/js/admin/products/reg.js"></script>
</head>
<body>
<main layout:fragment="main" class="container mx-auto px-10">
    <!--등록 폼-->
    <h1>상품 등록</h1>
    <form
            method="post"
            action="/admin/products"
            class="n-form n-form-type:outline-box px:10 w:100p"
            enctype="multipart/form-data"
    >
        <table class="table">
            <colgroup>
                <col class="bg-base-200"/>
            </colgroup>

            <tbody>
            <tr>
                <td>
                    <span>상품 이름</span>
                </td>

                <td colspan="3">
                    <label>
                        <input type="text" name="name" required class="block w-3/5"/>
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <span>판매가</span>
                </td>

                <td colspan="3">
                    <label>
                        <input type="number" name="price" required class="block w-3/5"/>
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <span>상품설명</span>
                </td>

                <td colspan="3">
                    <label class="block w-3/5">
                    <textarea name="description" required class="h-36 w-full">

                    </textarea>
                    </label>
                </td>
            </tr>
            <tr>
                <td>대표 사진</td>
                <td colspan="3">
                    <div>
                        <label class="main-img-label">

                            <input
                                    class="main-img-input d:none border"
                                    type="file"
                                    name="imgPath"
                            />
                            <span class="main-img-box d:flex flex-direction:row">
                         <span class="d:flex jc:center al-items:center w:5 h:5 bg-color:base-3">
                         <span class="icon icon:camera icon-size:5 icon-color:base-1"></span>
                           </span>
                         </span>
                        </label>
                    </div>
                </td>
            </tr>

            <tr>
                <td>추가 사진</td>
                <td colspan="3">
                    <div class="mb:10">
                        <label class="sub-img-label">
                            <span class="sub-img-box d:flex flex-direction:row">
              <span class="d:flex jc:center al-items:center w:5 h:5 bg-color:base-3"
              >
                <span class="icon icon:camera icon-size:5 icon-color:base-1"
                ></span>
              </span>
            </span>
                            <input
                                    type="file"
                                    name="sub-imgs"
                                    class="d:none sub-img-input"
                                    multiple
                            />
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>카테고리</td>
                <td colspan="3">
                    <label>
                        <select name="categoryId" class="n-dropdown">
                            <option
                                    th:each="category : ${categories}"
                                    th:value="${category.id}"
                                    value="javascript"
                                    class="n-dropdown-item"
                                    th:text="${category.name}"
                            >
                                JavaScript
                            </option>
                        </select>
                    </label>
                </td>
            </tr>
            <tr>
                <td>진열상태</td>
                <td >
                    <div class="form-control flex flex-row space-x-2">

                        <label class="label cursor-pointer space-x-1">
                            <input name="isDisplayed" value="true" type="radio"  class="radio" />
                            <span class="label-text">진열함</span>
                        </label>
                        <label class="label cursor-pointer space-x-1">
                            <input name="isDisplayed" value="false" type="radio"  class="radio" />
                            <span class="label-text">진열안함</span>
                        </label>
                    </div>
                </td>
                <td class="bg-base-200">판매상태</td>
                <td >
                    <div class="form-control flex flex-row space-x-2">
                        <label class="label cursor-pointer space-x-1">
                            <input name="isSold" value="true" type="radio"  class="radio" />
                            <span class="label-text">판매함</span>
                        </label>
                        <label class="label cursor-pointer space-x-1">
                            <input name="isSold" value="false" type="radio"  class="radio" />
                            <span class="label-text">판매안함</span>
                        </label>
                    </div>
                </td>

            </tr>
            <tr>
                <td>상품코드</td>
                <td colspan="3">
                    <label>
                        <input name="code" type="text" class="block w-3/5">
                    </label>
                </td>
            </tr>
            <tr>
                <td>당일배송</td>
                <td colspan="3">
                    <div class="form-control flex flex-row space-x-2">
                        <label class="label cursor-pointer space-x-1">
                            <input name="isDeliveryToday" value="true" type="radio"  class="radio" />
                            <span class="label-text">당일배송함</span>
                        </label>
                        <label class="label cursor-pointer space-x-1">
                            <input name="isDeliveryToday" value="false" type="radio"  class="radio" />
                            <span class="label-text">당일배송안함</span>
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>할인율</td>
                <td colspan="3">
                    <label>
                        <input name="discountRate" type="number" class="block w-3/5">
                    </label>
                </td>
            </tr>

            </tbody>
        </table>
        <div class="flex justify-end space-x-2">
            <button class="btn btn-wide">상품 등록</button>
            <a href="/admin/products" class="btn btn-wide btn-outline">취소</a>
        </div>
    </form>
</main>
</body>
</html>
