<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{/inc/layout}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main layout:fragment="main" class="container mx-auto px-20 mt-20">
      <section class="w-full">
        <h1 class="hidden">위시리스트</h1>
        <div class="text-center font-sans">Address List</div>
        <div class="w-full mt-10">
          <div>
            <table class="border border-slate-800 w-full">
              <colgroup>
                <col class="w-7" />
                <col class="w-24" />
                <col class="w-24" />
                <col class="w-32" />
                <col class="w-auto" />
                <col class="w-20" />
              </colgroup>
              <thead class="font-sans">
                <th class="border border-slate-800">
                  <input
                    id="selectAllCheckbox"
                    type="checkbox"
                    onclick="toggleCheckboxes(this)"
                  />
                </th>
                <th class="border border-slate-800 font-medium text-sm">
                  배송지명
                </th>
                <th class="border border-slate-800 font-medium text-sm">
                  수령인
                </th>
                <th class="border border-slate-800 font-medium text-sm">
                  휴대전화
                </th>
                <th class="border border-slate-800 font-medium text-sm">
                  주소
                </th>
                <th class="border border-slate-800 font-medium text-sm">
                  수정
                </th>
              </thead>
              <tbody class="text-center">
                <tr th:each="address : ${addresses}">
                  <td><input type="checkbox" /></td>
                  <td class="text-xs" th:text="${address.name}">배송지명</td>
                  <td class="text-xs" th:text="${address.receiverName}">
                    설지수
                  </td>
                  <td class="text-xs" th:text="${address.phoneNumber}">
                    010-6225-5617
                  </td>
                  <td class="text-xs">주소</td>
                  <td class="text-xs">
                    <div>
                      <a
                        href=""
                        class="inline-block border border-slate-800 w-14 h-7 text-xs px-3 py-1 bg-black text-slate-100 hover:bg-white hover:text-slate-800 duration-300 ease-in-out"
                        >수정</a
                      >
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="flex mt-3 justify-between">
          <div class="flex">
            <div class="text-center pl-2">
              <a
                href=""
                class="inline-block border border-slate-800 w-28 h-7 text-xs px-1 py-1 bg-gray-500 text-slate-100 hover:bg-white hover:text-slate-800 duration-300 ease-in-out"
                >선택 주소록 삭제</a
              >
            </div>
          </div>
          <div class="flex">
            <div class="text-center pl-2">
              <a
                href=""
                class="flex justify-center items-center border border-slate-800 w-32 h-10 text-xs px-3 py-1 bg-gray-500 text-slate-100 hover:bg-red hover:text-slate-800 duration-300 ease-in-out"
                >배송지등록</a
              >
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
