<!DOCTYPE >
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/inc/layout}">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1.2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/output.css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="/util/summernote/summernote.js"></script>
    <script src="/util/summernote/summernote-lite.js"></script>
    <script src="/util/summernote/summernote-ko-KR.js"></script>
    <script src="/js/board/qnaNew.js"></script>
    <link rel="stylesheet" type="text/css" href="/util/summernote/summernote-lite.css">

    <title>Document</title>
</head>
<body>
<main layout:fragment="main" class="container mx-auto">
    <section>
        <h1 class="text-center text-3xl">QnA</h1>
        <form class="mt-16" action="/reg" method="post">
            <div class="my-2">
                <label >
                   제목
                    <span class="flex">
                        <select class="w-60 border text-sm" name="category">
                            <option>-문의유형을 선택후 작성해주세요</option>
                            <option>상품 문의</option>
                            <option>교환 / 반품 문의</option>
                            <option>배송 전 변경사항 문의</option>
                            <option>배송 문의</option>
                            <option>입금 / 기타 문의</option>
                        </select>
                        <input class="border w-full" type="text" name="summary">
                    </span>
                </label>
            </div>
            <div class="my-2">
                <label >
                    이메일
                    <span class="flex">
                        <input class="border w-64" type="text" name="localpart">
                        <span class="mx-2">@</span>
                        <input class="border w-64" type="text" name="domainpart">
                        <select class="w-60 border text-sm" id="domain-select">
                            <option>직접입력</option>
                            <option>naver.com</option>
                            <option>daum.net</option>
                            <option>nate.com</option>
                            <option>gmail.com</option>
                        </select>
                    </span>
                </label>
            </div>
            <textarea id="summernote" name="editordata"></textarea>
            <div class="text-end my-4">
                <button class="btn">등록하기</button>
                <button class="btn"><a href="/qna">목록으로</a></button>
            </div>
        </form>
    </section>
</main>
</body>
</html>
