<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/newtil-css@0.1.32/dist/style.css" />
</head>
<body>
    
    <header class="n-panel n-top-panel">
        <div class="n-container px:4 lg:px:10 mx:auto d:flex justify-content:space-between">
          <h1 class="">마인유어스 관리자 홈페이지</h1>
          <div class="mr:6">
            <div class="icon icon:bookmark_simple_fill mr:4">1</div>
            <div class="icon icon:user">1</div>123131231321312
          </div>
        </div>
    </header>
    
</body>
</html>