<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/inc/layout}"
>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
    <link rel="stylesheet" href="/css/output.css"/>
    <script src="/js/order/formatNumber.js"></script>
</head>
<body>
<main layout:fragment="main" class="container mx-auto px-10 mt-20">
    <h1 class="hidden">주문 내역</h1>
    <div class="text-center font-sans py-3 font-semibold">Order List</div>
    <!--    검색 -->

    <section class="overflow-x-auto w-full flex flex-col">
        <form method="get" action="/myshop/order/list" class="">
            <table class="table">
                <colgroup>
                    <col class="bg-base-300"/>
                </colgroup>

                <tbody>
                <tr>
                    <td>검색분류</td>

                    <td colspan="3">
                        <div>
                            <!--  검색 모듈 -->
                            <div class="join">
                                <select
                                        class="select select-bordered join-item"
                                        name="searchMethod"
                                >
                                    <option
                                            th:selected="${param.searchMethod} == 'name'"
                                            value="name"
                                    >
                                        상품이름
                                    </option>
                                    <option
                                            th:selected="${param.searchMethod} == userName"
                                            value="userName"
                                    >
                                        주문자이름
                                    </option>
                                    <option
                                            th:selected="${param.searchMethod} == 'code'"
                                            value="code"
                                    >
                                        주문코드
                                    </option>
                                </select>
                                <div>
                                    <div>
                                        <input
                                                type="text"
                                                name="searchKeyword"
                                                class="input input-bordered join-item"
                                                placeholder="검색어를 입력하세요"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>주문일</td>
                    <td colspan="3">
                        <div class="flex space-x-5">
                            <div class="flex space-x-1">
                                <div class="flex space-x-1 items-center">
                                    <input
                                            type="date"
                                            name="calendarStart"
                                            th:value="${calendarStart}"
                                            th:max="${startDate}"
                                    />
                                    <span>~</span>
                                    <input
                                            type="date"
                                            name="calendarEnd"
                                            th:value="${calendarEnd}"
                                            th:min="${startDate}"
                                    />
                                </div>
                            </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="self-center flex space-x-2 justify-center">
                <button class="btn btn-wide">검색</button>
                <a th:href="@{/myshop/order/list}" class="btn btn-wide btn-outline"
                >초기화</a
                >
            </div>
        </form>
    </section>

    <!--    리스트-->
    <section class="mt-10">
        <h1 class="text-2xl mb-0">주문 목록</h1>
        <div class="overflow-x-auto w-full">
            <form method="get" action="excel">
                <table class="table table-zebra text-center">
                    <!-- head -->
                    <thead>
                    <tr>
                        <th scope="col" class="w:2"></th>
                        <!--                <th scope="col">카테고리 이름</th>-->
                        <th scope="col">주문일</th>
                        <th scope="col">주문코드</th>
                        <!--                <th scope="col">공급가</th>-->
                        <th scope="col">주문자</th>
                        <th scope="col">상품명</th>
                        <th scope="col">총 상품구매금액</th>
                        <th scope="col">총 실결제금액</th>
                        <th scope="col">결제수단</th>
                        <th scope="col">주문상태</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="order : ${orderPage.content}">
                        <td scope="col">
                            <input
                                    name="orderId"
                                    type="checkbox"
                                    class="checkbox"
                                    th:value="${order.id}"
                            />
                        </td>
                        <!--                <td scope="col" th:text="${product.categoryName}">카테고리 이름</td>-->
                        <td scope="col" th:text="${order.orderedDatetime}">주문일</td>
                        <td scope="col" th:text="${order.code}">주문코드</td>
                        <!--                <td scope="col" th:text="${product.supplyingPrice}">공급가</td>-->
                        <!--                <td scope="col" th:text="${product.description}">설명</td>-->
                        <td scope="col" th:text="${order.userName}">주문자</td>
                        <td scope="col">
                    <span
                            th:each="productName : ${order.productNames}"
                            th:text="${productName}"
                    >
                      상품명
                    </span>
                            <div th:if="${order.productsCount > 1}">
                      <span th:text="|외 ${order.productsCount-1}개|"
                      >개수</span
                      >
                            </div>
                        </td>
                        <td
                                scope="col"
                                th:text="${#numbers.formatInteger(order.totalProductPrice, 0, 'COMMA')}"
                        >
                            총 상품구매금액
                        </td>
                        <td
                                scope="col"
                                th:text="${#numbers.formatInteger(order.totalProductPrice-order.totalDiscountAmount, 0, 'COMMA')}"
                        >
                            총 실결제금액
                        </td>
                        <td scope="col" th:text="${order.paymentMethod}">결제수단</td>
                        <!--                <td>No</td>-->
                        <td scope="col" th:text="${order.orderState}">주문상태</td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </section>
    <!-- 페이징 -->
    <div class="flex justify-center">
        <div th:replace="~{/inc/pagination ::  pagination(${orderPage})}"></div>
    </div>
</main>
</body>
</html>
