<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/inc/layout}">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <title></title>
</head>
<body>
    <main layout:fragment="main">
        <section class="mt-32">
            <h1 class="text-xl text-center"><a href="">Sign Up</a></h1>

            <div class="container flex items-center justify-center px-6 mx-auto mt-12">
                <form class="w-full max-w-md text-sm" action="/signup" method="post">
                    <div class="relative flex-col items-center mt-8 w-full">
                        <label class="">
                            아이디 *
                            (영문소문자/숫자, 4~16자)
                            <input name="username" class="mt-2 block w-full py-3 text-gray-700 bg-white border rounded-lg px-11 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 dark:focus:border-blue-300 focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40" placeholder="아이디를 입력해주세요">
                            <span class="block mt-2 te">아이디 형식이 잘못되었습니다.</span>
                        </label>
                    </div>
                    <div class="relative flex-col items-center mt-4 w-full">
                        <label>
                            비밀번호 *
                            (영문 대소문자/숫자/특수문자 중 3가지 이상 조합, 8자~16자)
                            <input name="username" class="mt-2 block w-full py-3 text-gray-700 bg-white border rounded-lg px-11 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 dark:focus:border-blue-300 focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40" placeholder="비밀번호를 입력해주세요">
                        </label>
                    </div>
                    <div class="relative flex-col items-center mt-4 w-full">
                        <label>
                            비밀번호 확인 *
                            <input name="username" class="mt-2 block w-full py-3 text-gray-700 bg-white border rounded-lg px-11 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 dark:focus:border-blue-300 focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40" placeholder="비밀번호를 다시 입력해주세요">
                        </label>
                    </div>
                    <div class="relative flex-col items-center mt-4 w-full">
                        <label>
                            이름 *
                            <input name="username" class="mt-2 block w-full py-3 text-gray-700 bg-white border rounded-lg px-11 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 dark:focus:border-blue-300 focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40" placeholder="이름을 입력해주세요">
                        </label>
                    </div>
                    <div class="relative flex-col items-center mt-4 w-full">
                        <label>
                            휴대전화
                            <input name="username" class="mt-2 block w-full py-3 text-gray-700 bg-white border rounded-lg px-11 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 dark:focus:border-blue-300 focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40" placeholder="휴대번호를 입력해주세요">
                        </label>
                    </div>
                    <div class="relative flex-col items-center mt-4 w-full">
                        <label>
                            이메일 *
                            <input name="username" class="mt-2 block w-full py-3 text-gray-700 bg-white border rounded-lg px-11 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 dark:focus:border-blue-300 focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40" placeholder="이메일주소를 입력해주세요">
                        </label>
                    </div>

                    <section>
                        <h1>전체동의</h1>

                    </section>
                    
                    <div class="mt-6">
                        <button class="w-full px-6 py-3 text-sm font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-black hover:bg-gray-700 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-50">
                            Sign in
                        </button>

                        <div class="mt-6 text-center ">
                            <a href="/signup" class="text-sm text-blue-500 hover:underline dark:text-blue-400">
                                회원가입해라~~~~
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </main>
</body>
</html>
