<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="/admin/reg" method="post">
        <div class="mb-4">
            <label for="product-name" class="block text-gray-700 text-sm font-bold mb-2">상품명</label>
            <input type="text" id="product-name" name="name" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
        </div>
        <div class="mb-4">
            <label for="product-price" class="block text-gray-700 text-sm font-bold mb-2">상품URL</label>
            <input type="text" id="product-price" name="img" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
        </div>
        <div class="mb-4">
          <label for="product-img" class="block text-gray-700 text-sm font-bold mb-2">상품가격</label>
          <input type="text" id="product-img" name="price" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
      </div>
        <div class="flex items-center justify-between">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                등록
            </button>
        </div>
    </form>

</body>
</html>