<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/inc/layout}">

<head>
    <title>Board</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/admin/post/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/js/admin/post/list.js"></script>
</head>
<body class="h-full w-full">
    <main layout:fragment="main" class="flex flex-col container mx-auto px-10">
        <h1 class="font-bold text-3xl self-center">관리자 게시글목록</h1>
        <section class="overflow-x-auto w-full flex flex-col">
            <h1 class="text-2xl mb-0">결제 정보</h1>
            <form
                    method="get"
                    action="products"
                    class="n-form md:n-field-label-position:left border:0 w:3/5 mx:auto my:10"
            >
                <table class="table">
                    <colgroup>
                        <col class="bg-base-300" />
                    </colgroup>

                    <tbody>
                    <tr>
                        <td>검색분류</td>

                        <td colspan="3">
                            <div>
                                <!--  검색 모듈 -->
                                <div class="join">
                                    <select
                                            class="select select-bordered join-item"
                                            name="searchMethod"
                                    >
                                        <option
                                                th:selected="${param.searchMethod} == 'title'"
                                                value="title"
                                        >
                                            제목
                                        </option>
                                        <option
                                                th:selected="${{param.searchMethod}} == 'description'"
                                                value="description"
                                        >
                                            내용
                                        </option>
                                    </select>
                                    <div>
                                        <div>
                                            <input
                                                    type="text"
                                                    name="searchKeyword"
                                                    th:value="${#strings.trim(param.searchKeyword)}"
                                                    class="input input-bordered join-item"
                                                    placeholder="검색어를 입력하세요"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>상품분류</td>
                        <td colspan="3">
                            <select class="select select-sm select-bordered" name="categoryId">
                                <option value="0" th:selected="${categoryId == 0}">All</option>
                                <option th:each="category: ${categories}"
                                        th:value="${category.id}"
                                        th:text="${category.name}"
                                        th:selected="${categoryId == category.id}"></option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>상품등록일</td>
                        <td colspan="3">
                            <div class="flex space-x-5">
                                <div class="flex space-x-1">
                                    <label
                                            class="btn btn-outline btn-sm flex justify-center items-center"
                                    >
                                        <span>오늘</span>
                                        <input type="radio"  class="hidden" />
                                    </label>
                                    <label
                                            class="btn btn-outline btn-sm flex justify-center items-center"
                                    >
                                        <span>3일</span>
                                        <input type="radio"  class="hidden" />
                                    </label>
                                    <label
                                            class="btn btn-outline btn-sm flex justify-center items-center"
                                    >
                                        <span>7일</span>
                                        <input type="radio"  class="hidden" />
                                    </label>
                                    <label
                                            class="btn btn-outline btn-sm flex justify-center items-center"
                                    >
                                        <span>1개월</span>
                                        <input type="radio"  class="hidden" />
                                    </label>
                                    <label
                                            class="btn btn-outline btn-sm flex justify-center items-center"
                                    >
                                        <span>3개월</span>
                                        <input type="radio"  class="hidden" />
                                    </label>
                                    <label
                                            class="btn btn-outline btn-sm flex justify-center items-center"
                                    >
                                        <span>1년</span>
                                        <input type="radio"  class="hidden" />
                                    </label>
                                    <label
                                            class="btn btn-outline btn-sm flex justify-center items-center"
                                    >
                                        <span>전체</span>
                                        <input
                                                type="radio"

                                                class="hidden"
                                                checked
                                        />
                                    </label>
                                </div>

                                <div class="flex space-x-1 items-center">
                                    <input type="date"  />
                                    <span>~</span>
                                    <input type="date"  />
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>진열상태</td>
                        <td>
                            <div class="form-control flex flex-row space-x-2">
                                <label class="label cursor-pointer space-x-1">
                                    <input type="radio"  class="radio" checked />
                                    <span class="label-text">전체</span>
                                </label>
                                <label class="label cursor-pointer space-x-1">
                                    <input type="radio"  class="radio" />
                                    <span class="label-text">진열함</span>
                                </label>
                                <label class="label cursor-pointer space-x-1">
                                    <input type="radio"  class="radio" />
                                    <span class="label-text">진열안함</span>
                                </label>
                            </div>
                        </td>
                        <td class="bg-base-300">판매상태</td>
                        <td>
                            <div class="form-control flex flex-row space-x-2">
                                <label class="label cursor-pointer space-x-1">
                                    <input type="radio"  class="radio" checked />
                                    <span class="label-text">전체</span>
                                </label>
                                <label class="label cursor-pointer space-x-1">
                                    <input type="radio"  class="radio" />
                                    <span class="label-text">판매함</span>
                                </label>
                                <label class="label cursor-pointer space-x-1">
                                    <input type="radio"  class="radio" />
                                    <span class="label-text">판매안함</span>
                                </label>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="self-center flex space-x-2">
                    <button class="btn btn-wide">검색</button>
                    <button class="btn btn-wide btn-outline">초기화</button>
                </div>
            </form>
        </section>

        <!--게시글 리스트-->
        <section class="mt-10">
            <h1 class="text-2xl mb-0">게시글 목록</h1>
            <div class="overflow-x-auto w-full">
                <table class="table table-zebra text-center">
                    <!-- head -->
                    <thead>
                    <tr>
                        <th scope="col" class="w:2"></th>
                        <th scope="col">ID</th>
                        <th scope="col">분류</th>
                        <th scope="col">제목</th>
                        <th scope="col">답변상태</th>
                        <th scope="col">내용보기</th>
                        <th scope="col">답변하기</th>
                        <th scope="col">작성자</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="board :${list}">
                        <td scope="col">
                            <input
                                    name="deleteId"
                                    type="checkbox"
                                    class="checkbox"
                            />
                        </td>
                        <td scope="row" th:text="${board.id}">1</td>
                        <td>Q&A</td>
                        <td th:text="${board.title}">제목</td>
                        <td th:text="((${{board.status}} == '1')) ? '답변완료':'-'">답변완료</td>
                        <td><button id="modal-btn" type="button" class="preview n-btn" th:data-id="${board.id}">미리보기</button></button></td>
                        <td><button class="n-btn">답변하기</button></td>
                        <td th:text="${board.writer}">작성자</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>


            <div class="d:flex jc:end mt:3">
                <div class="mr:3">
                    <a href="members/reg" class="n-btn n-btn-size:3"> 등록 </a>
                </div>
                <button class="n-btn n-btn-size:3 n-btn-color:accent mr:3">
                    삭제
                </button>
            </div>
        </form>

    <section class="n-modal d:none" tabindex="-1">
        <h1 class="n-font:h3 font-weight:3">게시글 미리보기</h1>

        <div class="mt:8 text-a:center modal-content">Hello World</div>

        <div class="d:flex fl-direction:column gap:2 mt:8 w:10">
            <button type="button" class="n-btn n-btn-size:3 close-button">닫기</button>
        </div>
    </section>



    </main>
</body>
</html>
