<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/admin/inc/layout}"
>
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<main
        layout:fragment="main"
        class="n-panel n-main-panel d:flex flex-direction:column">
    <form
            class="n-form md:n-field-label-position:left border:0 w:3/5 mx:auto my:10">
        <div>
            <select class="border" name="searchMethod">
                <option th:selected="${param.searchMethod} == 'name'" value="name">이름</option>
                <option th:selected="${{param.searchMethod}} == 'login-id'" value="login-id">유저아이디</option>
            </select>
            <input type="text" name="searchKeyword" placeholder="검색어를 입력하세요" th:value="${#strings.trim(param.searchKeyword)}"/>
            <button class="n-btn n-btn-type:outline-box">검색</button>
        </div>
    </form>

    <div class="w:100p border-bottom"></div>

    <form action="/admin/members/delete" class="flex flex-col w-full" method="post">
        <table class="n-table n-table-style:striped">
            <thead>
            <tr>
                <th scope="col" class="w:2"></th>
                <th scope="col">고객 이름</th>
                <th scope="col">아이디</th>
                <th scope="col">전화번호</th>
                <th scope="col">이메일</th>
                <th scope="col">등록일자</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member: ${list}">
                <td scope="col">
                    <input
                            name="deleteId"
                            type="checkbox"
                            class="n-toggle n-toggle-type:check-box n-toggle-size:2"
                            th:value="${member.id}"
                    />
                </td>
                <td scope="col" th:text="${member.name}">고객 이름</td>
                <td scope="col" th:text="${member.username}">아이디</td>
                <td scope="col" th:text="${member.phoneNumber}">전화번호</td>
                <td scope="col" th:text="${member.email}">이메일</td>
                <td scope="col" th:text="${#dates.format(member.regDate, 'yyyy년 M월 d일') }">등록일자</td>
            </tr>
            </tbody>
        </table>
        <div class="d:flex jc:end mt:3">
            <div class="mr:3">
                <a href="members/reg" class="n-btn n-btn-size:3"> 등록 </a>
            </div>
            <button class="n-btn n-btn-size:3 n-btn-color:accent mr:3">
                삭제
            </button>
        </div>
    </form>
    <ul class="n-pager mx:auto">
        <li class="active"><a>1</a></li>
        <li><a>2</a></li>
        <li><a>3</a></li>
    </ul>
</main>
</body>
</html>
