<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/admin/inc/layout}"
>
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<main
        layout:fragment="main"
        class="n-panel n-main-panel d:flex flex-direction:column container mx-auto px-10">
    
    <div><a href="/admin/members" class="btn btn-xs sm:btn-sm md:btn-md lg:btn-lg mb-5">뒤로가기</a></div>
    <section class="border-2 relative">
        <h1>쿠폰 내역</h1>
        <table class="n-table n-table-style:striped">
            <thead>
            <tr>
                <th scope="col">쿠폰명</th>
                <th scope="col">내용</th>
                <th scope="col">할인율</th>
                <th scope="col">유효기간</th>
                <th scope="col">최소구매금액</th>
            </tr>
            </thead>
           
        </table>
    </section>
   
</main>
</body>
</html>
